<!DOCTYPE html>
<html>
<%= partial :'/controllers/header' %>

  <body>

    <%= partial :'/controllers/welcome' %>

    <%= partial :'/controllers/errors' %>

    <%= partial :'/controllers/notice' %>

    <%= yield %>
  </body>

</html>
