<!DOCTYPE html>
<html>
  <head>
    <%= partial :'/controllers/title' %>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  </head>
  <body>

    <%= partial :'/controllers/welcome' %>

    <%= partial :'/controllers/errors' %>

    <%= partial :'/controllers/notice' %>

    <%= yield %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>

</html>
